body,div,i,ul,li,h1,h2,h3,p,form,input,select {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: center;
}
.iconfont{
    font-size: 14px;
}
#content_box{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.head_activity{
    width: 100%;
    min-width: 1190px;
    height: 80px;
    background-color: #1565d8;
    position: relative;
}
.activity_banner{
    width: 1190px;
    height: 80px;
    background: url('../images/activity_banner.jpg') no-repeat 100%;
}
.icon-guanbi{
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background: rgb(45,45,45);
    opacity: .3;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: 570px;
}
.top_nav{
    width: 100%;
    min-width: 1190px;
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}
.top_nav_content{
    justify-content: left;
    width: 1190px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.locale{
    /* overflow: hidden; */
    float: left;
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 200px;
    border: 1px solid #e3e4e5;
}
.locale_hover{
    z-index: 1;
    height: 31px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
.icon-daohangdizhi{
    color: #f10215;
    margin-right: 4px;
}
.locale_choose{
    font-size: 14px;
    color: #999;
}
.locale_list{
    display: block;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    left: 200px;
    top: 30px;
}